extends /pug/layouts/_rootLayout

block title
	title= "sample" + " | " + data.common.meta.title


block append body
	#l-wrapper
		nav
			#l-nav
		header
			#l-header
		main
			#l-main
		footer
			#l-footer
